[package]
name = "eigen-services-operatorsinfo"
description = "Eigen Layer SDK services operatorsinfo"

version.workspace = true
edition.workspace = true
rust-version.workspace = true
repository.workspace = true
license-file.workspace = true

[dependencies]
eigen-client-avsregistry.workspace = true
eigen-types.workspace = true
alloy-primitives.workspace = true
alloy-provider= {workspace = true , features = ["ws"]}
futures-util.workspace = true
tokio = { workspace = true, features = ["rt-multi-thread", "macros"] }
anyhow = "1.0.83"
alloy-rpc-types.workspace = true
eigen-utils.workspace = true

[dev-dependencies]
eigen-testing-utils.workspace = true