[package]
name = "eigen-client-avsregistry"
description = "Eigen Layer AvsRegistry Sdk"

version.workspace = true
edition.workspace = true
rust-version.workspace = true
repository.workspace = true
license-file.workspace = true

[dependencies]
alloy-primitives.workspace = true
alloy-provider.workspace = true
alloy-transport-http.workspace = true
alloy-rpc-types.workspace = true
num-bigint = "0.4.4"
reqwest.workspace = true
eigen-types.workspace = true
eigen-crypto-bls.workspace = true
ark-ff.workspace = true
eigen-client-elcontracts.workspace = true
eigen-chainio-utils.workspace = true
eigen-utils.workspace = true
ark-bn254 = "0.4.0"
thiserror.workspace = true
tracing.workspace = true
alloy-network.workspace = true
alloy-signer.workspace = true
alloy-signer-local.workspace = true
alloy-contract.workspace = true
[lints]
workspace = true

[dev-dependencies]
tokio = {version = "1.37.0" , features = ["test-util", "full","sync"] }
hex = "0.4.3"
