name: Integration Tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  lint:
    name: Run Lints
    runs-on: ubuntu-latest
    steps:
    - name: Install Rust
      uses: dtolnay/rust-toolchain@1.79.0
      with:
          components: rustfmt, clippy

    - name: Checkout repository
      uses: actions/checkout@v4
    
    - name: Run cargo fmt
      run: cargo fmt --all -- --check

    - name: Run clippy
      run: make clippy

  test:
    name: Run Integration Tests
    runs-on: ubuntu-latest
    environment: testing

    env:
      HOLESKY_WS_URL: ${{ secrets.HOLESKY_WS_URL }}
      HOLESKY_HTTP_URL: ${{ secrets.HOLESKY_HTTP_URL }}
      FIREBLOCKS_API_KEY: ${{ secrets.FIREBLOCKS_API_KEY }}
      FIREBLOCKS_API_URL: ${{ secrets.FIREBLOCKS_API_URL }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
        
      - name: Create private key file
        run: echo "${{ secrets.FIREBLOCKS_PRIVATE_KEY }}" > fireblocks_secret.key
    
      - name: Set environment variable for private key path
        run: echo "FIREBLOCKS_PRIVATE_KEY_PATH=$(pwd)/fireblocks_secret.key" >> $GITHUB_ENV
        
      - name: Install nightly Rust
        run: rustup toolchain install nightly
  
      - name: Install rustfmt for nightly
        run: rustup component add rustfmt --toolchain nightly

      - name: Cache Rust dependencies
        uses: Swatinem/rust-cache@v2
        with:
          cache-on-failure: true
      - name: clippy
        uses: dtolnay/rust-toolchain@clippy
        
      - name: Install Foundry
        run: cargo install --git https://github.com/foundry-rs/foundry --profile release --locked forge cast chisel anvil

      - name: docker
        uses: docker-practice/actions-setup-docker@master

      - name: Run make pr
        run: make pr

